Repository lanl-ansi/PowerModelsDistribution.jl, pull requests merged in 2019-09, with the labels that each got.

#164 UPD: JuMP v0.20 / MOI v0.9
  .travis.yml
  CHANGELOG.md
  Manifest.toml
  Project.toml
  test/base.jl
  test/data.jl
  test/debug.jl
  test/loadmodels.jl
  test/matlab.jl
  test/mld.jl
  test/multinetwork.jl
  test/opendss.jl
  test/opf-var.jl
  test/opf.jl
  test/opf_bf.jl
  test/pf.jl
  test/transformer.jl
Labels: upstream

#165 ADD: virtual branch to sourcebus to model circuit impedance
  CHANGELOG.md
  src/core/export.jl
  src/io/opendss.jl
  test/data/opendss/case5_phase_drop.dss
  test/data/opendss/virtual_sourcebus.dss
  test/loadmodels.jl
  test/opendss.jl
  test/opf.jl
  test/pf.jl
  test/transformer.jl
Labels: OpenDSS, enhancement

#166 ADD: Parsing of "bank" property on transformers
  CHANGELOG.md
  src/io/common.jl
  src/io/opendss.jl
  test/data/opendss/ut_trans_2w_yy_bank.dss
  test/transformer.jl
Labels: OpenDSS, enhancement

#167 FIX: phase order swap on lines
  CHANGELOG.md
  src/io/dss_parse.jl
  src/io/opendss.jl
  test/data/opendss/case3_unbalanced_assym_swap.dss
  test/pf.jl
Labels: OpenDSS, bug

#168 REF: Ensure all PMD functions' phase loops are internal
  CHANGELOG.md
  LICENSE.md
  README.md
  docs/src/formulation-details.md
  docs/src/index.md
  docs/src/math-model.md
  docs/src/quickguide.md
  docs/src/specifications.md
  src/core/constraint_template.jl
  src/core/variable.jl
  src/prob/debug.jl
  src/prob/mld.jl
  src/prob/opf.jl
  src/prob/opf_bctr.jl
  src/prob/opf_bf.jl
  src/prob/opf_lm.jl
  src/prob/opf_oltc.jl
  src/prob/pf.jl
  src/prob/pf_lm.jl
  src/prob/test.jl
Labels: doc, formulations, problems

#169 REF: Rename :trans, "trans", _trans_ to 'transformer'
  CHANGELOG.md
  docs/src/specifications.md
  src/core/constraint_template.jl
  src/core/ref.jl
  src/core/variable.jl
  src/form/acp.jl
  src/form/apo.jl
  src/form/bf.jl
  src/form/dcp.jl
  src/io/opendss.jl
  src/prob/debug.jl
  src/prob/mld.jl
  src/prob/opf.jl
  src/prob/opf_bctr.jl
  src/prob/opf_lm.jl
  src/prob/opf_oltc.jl
  src/prob/pf.jl
  src/prob/pf_lm.jl
  src/prob/test.jl
  test/opendss.jl
  test/transformer.jl
Labels: formulations, models, problems

#170 FIX: apply OpenDSS properties in order written
  CHANGELOG.md
  src/io/dss_parse.jl
  src/io/dss_structs.jl
  src/io/opendss.jl
  test/data/opendss/case3_balanced_prop-order.dss
  test/opendss.jl
Labels: OpenDSS, bug

#171 FIX: transformer `ref` extension loop over all `nw` in multinetworks
  CHANGELOG.md
  src/core/ref.jl
Labels: bug

#178 FIX: setting source values
  CHANGELOG.md
  src/io/dss_structs.jl
  test/data/opendss/test_simple.dss
  test/data/opendss/test_simple3.dss
  test/data/opendss/test_simple4.dss
  test/opendss.jl
Labels: OpenDSS, bug

#179 REF: Make constraint_mc_power_balance generic
  CHANGELOG.md
  src/core/constraint_template.jl
  src/core/objective.jl
  src/form/acp.jl
  src/form/acr.jl
  src/form/apo.jl
  src/form/dcp.jl
  src/form/shared.jl
  src/form/wr.jl
  src/io/dss_parse.jl
  src/io/dss_structs.jl
  src/io/opendss.jl
  src/prob/debug.jl
  src/prob/mld.jl
  src/prob/opf.jl
  src/prob/opf_bctr.jl
  src/prob/opf_bf.jl
  src/prob/opf_lm.jl
  src/prob/opf_oltc.jl
  src/prob/pf.jl
  src/prob/pf_bf.jl
  src/prob/pf_lm.jl
  src/prob/test.jl
  test/mld.jl
  test/multinetwork.jl
  test/opf.jl
  test/opf_bf.jl
  test/test.jl
Labels: problems

#180 DOC: Add documentation for OpenDSS format
  CHANGELOG.md
  docs/make.jl
  docs/src/data-formats.md
Labels: doc

#181 REF: Remove loops over conductors from prob
  CHANGELOG.md
  src/core/constraint_template.jl
  src/core/ref.jl
  src/core/variable.jl
  src/form/shared.jl
  src/prob/debug.jl
  src/prob/mld.jl
  src/prob/opf.jl
  src/prob/opf_bctr.jl
  src/prob/opf_bf.jl
  src/prob/opf_lm.jl
  src/prob/opf_oltc.jl
  src/prob/pf.jl
  src/prob/pf_bf.jl
  src/prob/pf_lm.jl
  src/prob/test.jl
  test/multinetwork.jl
Labels: problems

#182 FIX: Branch flow solution building
  CHANGELOG.md
  src/core/data.jl
  src/core/solution.jl
  src/form/acp.jl
  src/form/apo.jl
  src/form/dcp.jl
  src/form/shared.jl
  src/form/wr.jl
  src/prob/opf_bf.jl
  src/prob/pf_bf.jl
  test/pf.jl
Labels: bug, formulations, problems

#183 ADD: count_nodes
  CHANGELOG.md
  src/core/data.jl
  src/io/dss_parse.jl
  src/io/opendss.jl
  test/data.jl
Labels: enhancement
